<!-- your html code here -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
      <p>Donec ullamcorper nulla nim metus auctor fringilla. Vestibilum id ligula porta felis eusmod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-4"> <img src="assets/img/1.jpg" class="rounded-circle" width="400" height="400" alt="foto">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"> <img src="assets/img/2.jpg" class="rounded-circle" width="400" height="400" alt="teclado">
    </div>
    <div class="col-md-8">
      <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
      <p>Donec ullamcorper nulla nim metus auctor fringilla. Vestibilum id ligula porta felis eusmod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>
</div>